In [1]:
# Final Project Code for NBA:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
NBA_Stats = pd.read_csv('NBA_Stats.csv')
NBA_Stats_0 = NBA_Stats.fillna(0)

In [3]:
NBA_Stats_0.insert(0, 'Year', range(2023,1955,-1)) # 1956 - 2023
NBA_WinLoss = NBA_Stats_0

# Game per Year adjustments:
NBA_WinLoss_72 = NBA_Stats_0.iloc[65:69,4:] / 72
NBA_WinLoss.iloc[65:69, 4:] = NBA_WinLoss_72

NBA_WinLoss_75 = NBA_Stats_0.iloc[64,4:] / 75
NBA_WinLoss.iloc[64, 4:] = NBA_WinLoss_75

NBA_WinLoss_79 = NBA_Stats_0.iloc[63,4:] / 79
NBA_WinLoss.iloc[63, 4:] = NBA_WinLoss_79

NBA_WinLoss_80 = NBA_Stats_0.iloc[58:63,4:] / 80
NBA_WinLoss.iloc[58:63, 4:] = NBA_WinLoss_80

NBA_WinLoss_81 = NBA_Stats_0.iloc[57,4:] / 81
NBA_WinLoss.iloc[57, 4:] = NBA_WinLoss_81

NBA_WinLoss_82_1 = NBA_Stats_0.iloc[25:57,4:] / 82
NBA_WinLoss.iloc[25:57, 4:] = NBA_WinLoss_82_1

NBA_WinLoss_50 = NBA_Stats_0.iloc[24,4:] / 50 # 1999 Season Delay and Lockout
NBA_WinLoss.iloc[24, 4:] = NBA_WinLoss_50

NBA_WinLoss_82_2 = NBA_Stats_0.iloc[12:24,4:] / 82
NBA_WinLoss.iloc[12:24, 4:] = NBA_WinLoss_82_2

NBA_WinLoss_66 = NBA_Stats_0.iloc[11,4:] / 66 # 2012 Season Delay and Lockout
NBA_WinLoss.iloc[11, 4:] = NBA_WinLoss_66

NBA_WinLoss_82_3 = NBA_Stats_0.iloc[4:11,4:] / 82
NBA_WinLoss.iloc[4:11, 4:] = NBA_WinLoss_82_3

NBA_WinLoss_75 = NBA_Stats_0.iloc[3,4:] / 75 # 2020 COVID-19
NBA_WinLoss.iloc[3, 4:] = NBA_WinLoss_75

NBA_WinLoss_72 = NBA_Stats_0.iloc[2,4:] / 72 # 2021 COVID-19
NBA_WinLoss.iloc[2, 4:] = NBA_WinLoss_72

NBA_WinLoss_82_4 = NBA_Stats_0.iloc[0:2,4:] / 82
NBA_WinLoss.iloc[0:2, 4:] = NBA_WinLoss_82_4

NBA_WinLoss

,Year,Rk,Season,Lg,ATL,BOS,BRK,CHI,CHO,CLE,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,2023,2,2022-23,NBA,0.500000,0.695122,0.548780,0.487805,0.329268,0.621951,...,0.487805,0.414634,0.658537,0.548780,0.402439,0.585366,0.268293,0.500000,0.451220,0.426829
1,2022,3,2021-22,NBA,0.524390,0.621951,0.536585,0.560976,0.524390,0.536585,...,0.292683,0.268293,0.621951,0.780488,0.329268,0.365854,0.414634,0.585366,0.597561,0.426829
2,2021,4,2020-21,NBA,0.569444,0.500000,0.666667,0.430556,0.458333,0.305556,...,0.305556,0.291667,0.680556,0.708333,0.583333,0.430556,0.458333,0.375000,0.722222,0.472222
3,2020,5,2019-20,NBA,0.266667,0.640000,0.466667,0.293333,0.306667,0.253333,...,0.586667,0.440000,0.573333,0.453333,0.466667,0.413333,0.426667,0.706667,0.586667,0.333333
4,2019,6,2018-19,NBA,0.353659,0.597561,0.512195,0.268293,0.475610,0.231707,...,0.597561,0.512195,0.621951,0.231707,0.646341,0.475610,0.585366,0.707317,0.609756,0.390244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1960,65,1959-60,NBA,0.582278,0.746835,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.569620,0.000000,0.000000,0.240506,0.000000,0.000000,0.000000,0.000000
64,1959,66,1958-59,NBA,0.653333,0.693333,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.466667,0.000000,0.000000,0.253333,0.000000,0.000000,0.000000,0.000000
65,1958,67,1957-58,NBA,0.569444,0.680556,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.569444,0.000000,0.000000,0.458333,0.000000,0.000000,0.000000,0.000000
66,1957,68,1956-57,NBA,0.472222,0.611111,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.527778,0.000000,0.000000,0.430556,0.000000,0.000000,0.000000,0.000000
67,1956,69,1955-56,NBA,0.458333,0.541667,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.486111,0.000000,0.000000,0.430556,0.000000,0.000000,0.000000,0.000000

In [4]:
NBA_WinLoss = NBA_WinLoss.drop(columns=['Rk','Season','Lg'])
NBA_WinLoss
Teams = NBA_WinLoss.columns.values.tolist()[1:]

In [5]:
NBA_melt = NBA_WinLoss.melt(id_vars=['Year'], value_vars = Teams, var_name='Tm', value_name='W-L%')
NBA_melt

      Year   Tm      W-L%
0     2023  ATL  0.500000
1     2022  ATL  0.524390
2     2021  ATL  0.569444
3     2020  ATL  0.266667
4     2019  ATL  0.353659
...    ...  ...       ...
2035  1960  WAS  0.000000
2036  1959  WAS  0.000000
2037  1958  WAS  0.000000
2038  1957  WAS  0.000000
2039  1956  WAS  0.000000

[2040 rows x 3 columns]

In [6]:
NBA_WL = NBA_melt.sort_values('Year', ascending = True)
NBA_df = NBA_WL[NBA_WL['W-L%'] != 0]
NBA_df

      Year   Tm      W-L%
611   1956  DET  0.513889
679   1956  GSW  0.625000
951   1956  LAL  0.458333
135   1956  BOS  0.541667
1359  1956  NYK  0.486111
...    ...  ...       ...
1224  2023  NOP  0.512195
884   2023  LAL  0.524390
204   2023  CHI  0.487805
952   2023  MEM  0.621951
0     2023  ATL  0.500000

[1537 rows x 3 columns]

In [7]:
# Significant MLB Team Franchise moves:
NBA_df.loc[(NBA_df['Tm'] == 'DET') & (NBA_df['Year'] <= 1957), 'Tm'] = 'FWP' # Fort Wayne Pistons 1956-1957

NBA_df.loc[(NBA_df['Tm'] == 'SAC') & (NBA_df['Year'] <= 1957), 'Tm'] = 'CIR' # Cincinnati Royals 1956-1957
NBA_df.loc[(NBA_df['Tm'] == 'SAC') & (NBA_df['Year'] > 1958) & (NBA_df['Year'] <= 1985), 'Tm'] = 'KCK' # KC Kings 1958-1972

NBA_df.loc[(NBA_df['Tm'] == 'LAL') & (NBA_df['Year'] <= 1960), 'Tm'] = 'MNL' # Minneapolis Lakers 1956-1960

NBA_df.loc[(NBA_df['Tm'] == 'GSW') & (NBA_df['Year'] <= 1962), 'Tm'] = 'PHW' # Philly Warriors 1956-1962

NBA_df.loc[(NBA_df['Tm'] == 'WAS') & (NBA_df['Year'] <= 1963), 'Tm'] = 'BAB' # Baltimore Bullets 1956-1963

NBA_df.loc[(NBA_df['Tm'] == 'PHI') & (NBA_df['Year'] <= 1963), 'Tm'] = 'SYC' # Syracuse Nationals 1956-1963

NBA_df.loc[(NBA_df['Tm'] == 'ATL') & (NBA_df['Year'] <= 1968), 'Tm'] = 'STH' # St. Louis Hawks 1956-1968

NBA_df.loc[(NBA_df['Tm'] == 'HOU') & (NBA_df['Year'] <= 1971), 'Tm'] = 'SDR' # San Diego Rockets 1956-1971

NBA_df.loc[(NBA_df['Tm'] == 'LAC') & (NBA_df['Year'] <= 1978), 'Tm'] = 'BUB' # Buffalo Braves -1978
NBA_df.loc[(NBA_df['Tm'] == 'LAC') & (NBA_df['Year'] > 1979) & (NBA_df['Year'] <= 1984), 'Tm'] = 'SDC' # San Diego Clippers - 1984

NBA_df.loc[(NBA_df['Tm'] == 'UTA') & (NBA_df['Year'] <= 1979), 'Tm'] = 'NOJ' # New Orleans Jazz -1979

NBA_df.loc[(NBA_df['Tm'] == 'MEM') & (NBA_df['Year'] <= 2001), 'Tm'] = 'VNG' # Vancouver Grizzlies -2001

NBA_df.loc[(NBA_df['Tm'] == 'CHO') & (NBA_df['Year'] > 2002), 'Tm'] = 'NOH' # New Orleans Hornets 2003-

NBA_df.loc[(NBA_df['Tm'] == 'OKC') & (NBA_df['Year'] <= 2008), 'Tm'] = 'SEA' # Seattle Supersonics -2008

NBA_df.loc[(NBA_df['Tm'] == 'BRK') & (NBA_df['Year'] <= 2012), 'Tm'] = 'NJN' # New Jersey Nets -2012

In [8]:
team_to_city = {
    'ATL':["33.7488° N", "84.3877° W", "Atlanta", "Georgia"],
    'BAB':["39.2904° N", "76.6122° W", "Baltimore", "Maryland"],
    'BOS':["42.3601° N", "71.0589° W", "Boston", "Massachusetts"],
    'BRK':["40.6782° N", "73.9442° W", "Brooklyn", "New York"],
    'BUB':["42.8864° N", "78.8784° W", "Buffalo", "New York"],
    'CIR':["39.1031° N", "84.5120° W", "Cincinnati", "Ohio"],
    'CHI':['41.8781° N', "87.6298° W", "Chicago", "Illinois"],
    'CHO':['35.2271° N', "80.8431° W", "Charlotte", "North Carolina"],
    'CLE':["41.4993° N", "81.6944° W", "Cleveland", "Ohio"],
    'DAL':["32.7767° N", "96.7970° W", "Dallas", "Texas"],
    'DEN':["39.7392° N", "104.9903° W", "Denver", "Colorado"],
    'DET':["42.3314° N", "83.0458° W", "Detroit", "Michigan"],
    'FWP':["41.0793° N", "85.1394° W", "Fort Wayne", "Indiana"],
    'GSW':["37.7749° N", "122.4194° W", "San Francisco", "California"],
    'HOU':["29.7604° N", "95.3698° W", "Houston", "Texas"],
    'IND':["39.7684° N", "86.1581° W", "Indianapolis", "Indiana"],
    'KCK':["39.0997° N", "94.5786° W", "Kansas City", "Kansas"],
    'LAL':["34.0549° N", "118.2426° W", "Los Angeles", "California"],
    'LAC':["34.0549° N", "118.2426° W", "Los Angeles", "California"],
    'MEM':["35.1175° N", "89.9711° W", "Memphis", "Tennessee"],
    'MIA':["25.7617° N", "80.1918° W", "Miami", "Florida"],
    'MIL':["43.0389° N", "87.9065° W", "Milwaukee", "Wisconsin"],
    'MIN':["43.0389° N", "87.9065° W", "Minneapolis", "Minnesota"],
    'MNL':["43.0389° N", "87.9065° W", "Minneapolis", "Minnesota"],
    'NJN':["40.7357° N", "74.1724° W", "Newark", "New Jersey"],
    'NOJ':["29.9511° N", "90.0715° W", "New Orleans", "Louisiana"],
    'NOH':["29.9511° N", "90.0715° W", "New Orleans", "Louisiana"],
    'NOP':["29.9511° N", "90.0715° W", "New Orleans", "Louisiana"],
    'NYK':["40.7128° N", "74.0060° W", "New York City", "New York"],
    'OKC':["35.4676° N", "97.5164° W", "Oklahoma City", "Oklahoma"],
    'ORL':["28.5383° N", "81.3792° W", "Orlando", "Florida"],
    'PHI':["39.9526° N", "75.1652° W", "Philadelphia", "Pennsylvania"],
    'PHW':["39.9526° N", "75.1652° W", "Philadelphia", "Pennsylvania"],
    'PHO':["33.4484° N", "112.0740° W", "Phoenix", "Arizona"],
    'POR':["45.5231° N", "122.6765° W", "Portland", "Oregon"],
    'SAC':["38.5758° N", "121.4789° W", "Sacramento", "California"],
    'SAS':["29.4243° N", "98.4911° W", "San Antonio", "Texas"],
    'SDC':["32.7157° N", "117.1611° W", "San Diego", "California"],
    'SDR':["32.7157° N", "117.1611° W", "San Diego", "California"],
    'SEA':["47.6062° N", "122.3321° W", "Seattle", "Washington"],
    'STH':["38.6270° N", "90.1994° W", "St. Louis", "Missouri"],
    'SYC':["43.0889° N", "76.1545° W", "Syracuse", "New York"],
    'TOR':["43.6511° N", "79.3470° W", "Toronto", "Canada"],
    'UTA':["40.7587° N", "111.8762° W", "Salt Lake City", "Utah"],
    'VNG':["49.2463° N", "123.1162° W", "Vancouver", "Canada"],
    'WAS':["38.9072° N", "77.0369° W", "Washington D.C.", "Washington D.C."]
}

In [9]:
team_city_data = []
for Tm, city_info in team_to_city.items():
    Latitude = city_info[0]
    Longitude = city_info[1]
    City = city_info[2]
    States = city_info[3]
    team_city_data.append([Tm, Latitude, Longitude, City, States])

column_names = ['Tm', 'Latitude', 'Longitude', 'City', 'States']
team_city_df = pd.DataFrame(team_city_data, columns=column_names)

In [10]:
NBA_df2 = pd.merge(NBA_df,team_city_df, on = 'Tm', how = 'left')
NBA_df2['Champion'] = 0
NBA_df2

,Year,Tm,W-L%,Latitude,Longitude,City,States,Champion
0,1956,FWP,0.513889,41.0793° N,85.1394° W,Fort Wayne,Indiana,0
1,1956,PHW,0.625000,39.9526° N,75.1652° W,Philadelphia,Pennsylvania,0
2,1956,MNL,0.458333,43.0389° N,87.9065° W,Minneapolis,Minnesota,0
3,1956,BOS,0.541667,42.3601° N,71.0589° W,Boston,Massachusetts,0
4,1956,NYK,0.486111,40.7128° N,74.0060° W,New York City,New York,0
...,...,...,...,...,...,...,...,...
1532,2023,NOP,0.512195,29.9511° N,90.0715° W,New Orleans,Louisiana,0
1533,2023,LAL,0.524390,34.0549° N,118.2426° W,Los Angeles,California,0
1534,2023,CHI,0.487805,41.8781° N,87.6298° W,Chicago,Illinois,0
1535,2023,MEM,0.621951,35.1175° N,89.9711° W,Memphis,Tennessee,0
1536,2023,ATL,0.500000,33.7488° N,84.3877° W,Atlanta,Georgia,0

In [11]:
nba_finals_champions = {
    1956: 'PHW',
    1957: 'BOS',
    1958: 'BOS',
    1959: 'BOS',
    1960: 'BOS',
    1961: 'BOS',
    1962: 'BOS',
    1963: 'BOS',
    1964: 'BOS',
    1965: 'BOS',
    1966: 'BOS',
    1967: 'PHI',
    1968: 'BOS',
    1969: 'BOS',
    1970: 'NYK',
    1971: 'MIL',
    1972: 'LAL',
    1973: 'NYK',
    1974: 'BOS',
    1975: 'GSW',
    1976: 'BOS',
    1977: 'POR',
    1978: 'SEA',
    1979: 'SEA',
    1980: 'LAL',
    1981: 'BOS',
    1982: 'LAL',
    1983: 'PHI',
    1984: 'BOS',
    1985: 'LAL',
    1986: 'BOS',
    1987: 'LAL',
    1988: 'LAL',
    1989: 'DET',
    1990: 'DET',
    1991: 'CHI',
    1992: 'CHI',
    1993: 'CHI',
    1994: 'HOU',
    1995: 'HOU',
    1996: 'CHI',
    1997: 'CHI',
    1998: 'CHI',
    1999: 'SAS',
    2000: 'LAL',
    2001: 'LAL',
    2002: 'LAL',
    2003: 'SAS',
    2004: 'DET',
    2005: 'SAS',
    2006: 'MIA',
    2007: 'SAS',
    2008: 'BOS',
    2009: 'LAL',
    2010: 'LAL',
    2011: 'DAL',
    2012: 'MIA',
    2013: 'MIA',
    2014: 'SAS',
    2015: 'GSW',
    2016: 'CLE',
    2017: 'GSW',
    2018: 'GSW',
    2019: 'TOR',
    2020: 'LAL',
    2021: 'MIL',
    2022: 'GSW',
    2023: 'DEN'
}

In [12]:
for year, team in nba_finals_champions.items():
    NBA_df2.loc[(NBA_df2['Year'] == year) & (NBA_df2['Tm'] == team), 'Champion'] = 1
    
print(NBA_df2.loc[(NBA_df2['Tm'] == 'CLE') & (NBA_df2['Year'] == 2016)]) # test for Cavs 2016
print(NBA_df2.loc[(NBA_df2['Tm'] == 'PHI') & (NBA_df2['Year'] == 1967)]) # test for Philly 1967

      Year   Tm      W-L%    Latitude   Longitude       City States  Champion
1321  2016  CLE  0.695122  41.4993° N  81.6944° W  Cleveland   Ohio         1
    Year   Tm      W-L%    Latitude   Longitude          City        States  \
97  1967  PHI  0.829268  39.9526° N  75.1652° W  Philadelphia  Pennsylvania

    Champion
97         1

In [13]:
re_index = ['Tm','W-L%','Year','Latitude','Longitude','City','States','Champion']
NBA_presort = NBA_df2.reindex(columns = re_index)
NBA_final = NBA_presort.sort_values(by=['Year','Champion','W-L%'], ascending=[True, False, False])
NBA_final

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion
1,PHW,0.625000,1956,39.9526° N,75.1652° W,Philadelphia,Pennsylvania,1
3,BOS,0.541667,1956,42.3601° N,71.0589° W,Boston,Massachusetts,0
0,FWP,0.513889,1956,41.0793° N,85.1394° W,Fort Wayne,Indiana,0
4,NYK,0.486111,1956,40.7128° N,74.0060° W,New York City,New York,0
5,SYC,0.486111,1956,43.0889° N,76.1545° W,Syracuse,New York,0
...,...,...,...,...,...,...,...,...
1524,POR,0.402439,2023,45.5231° N,122.6765° W,Portland,Oregon,0
1529,NOH,0.329268,2023,29.9511° N,90.0715° W,New Orleans,Louisiana,0
1508,SAS,0.268293,2023,29.4243° N,98.4911° W,San Antonio,Texas,0
1523,HOU,0.268293,2023,29.7604° N,95.3698° W,Houston,Texas,0
1517,DET,0.207317,2023,42.3314° N,83.0458° W,Detroit,Michigan,0

In [14]:
NBA_final.to_excel('NBA_Master_Sheet.xlsx', index=False)

In [15]:
def convert_latitude(latitude_str):
    numerical_part = latitude_str.split('°')[0]  # Extract numerical part before '°'
    numerical_value = float(numerical_part)
    
    if 'S' in latitude_str:
        numerical_value = -numerical_value  # If latitude is in Southern hemisphere
    
    return numerical_value

def convert_longitude(longitude_str):
    numerical_part = longitude_str.split('°')[0]  # Extract numerical part before '°'
    numerical_value = float(numerical_part)
    
    if 'W' in longitude_str:
        numerical_value = -numerical_value  # If longitude is in Western hemisphere
    
    return numerical_value

In [16]:
NBA_final['Latitude'] = NBA_final['Latitude'].apply(convert_latitude)
NBA_final['Longitude'] = NBA_final['Longitude'].apply(convert_longitude)

In [17]:
import plotly.graph_objects as go
import pandas as pd
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import time

 

# Reset index after groupby
df = NBA_final.groupby(['Year', 'Tm']).sum().reset_index()

 

# Create a Dash web application
app = dash.Dash(__name__)

 

# Define the app layout
app.layout = html.Div([
    dcc.Graph(id='animated-map'),
    dcc.Interval(
        id='interval-component',
        interval=1000,  # Update interval in milliseconds
        n_intervals=0
    )
])

 

@app.callback(
    Output('animated-map', 'figure'),
    Input('interval-component', 'n_intervals')
)
def update_map(n_intervals):
    year_index = n_intervals % len(df['Year'].unique())
    year = df['Year'].unique()[year_index]

 

    # Create an animated scatter plot using Plotly graph_objects
    fig = go.Figure()

 

    hover_text = []
    for index, row in df[df['Year'] == year].iterrows():
        champion_text = "Champion" if row['Champion'] == 1 else "Not Champion"
        text = f"Team: {row['Tm']}<br>Year: {year}<br>W-L%: {row['W-L%']}<br>{champion_text}"
        hover_text.append(text)

 

    scatter = go.Scattergeo(
        lon=df[df['Year'] == year]['Longitude'],
        lat=df[df['Year'] == year]['Latitude'],
        text=hover_text,  # Updated text property for hover information
        mode='markers',
        marker=dict(
            size=df[df['Year'] == year]['W-L%'] * 50,
            color=df[df['Year'] == year]['W-L%'],
            colorscale='Viridis',
            cmin=0.2,
            cmax=0.8,
            colorbar=dict(title='Win-Loss Percentage'),
        ),
        name=str(year),
    )
    fig.add_trace(scatter)

 

    fig.update_geos(
        scope='usa',
        showcoastlines=True,
        coastlinecolor="RebeccaPurple",
        showland=True,
        landcolor="LightGreen",
        showsubunits=True,
        subunitcolor="gray",
    )

 

    champion_team = df[(df['Year'] == year) & (df['Champion'] == 1)]['Tm'].values
    if champion_team:
        champion_text = f'Champion: {champion_team[0]}'
    else:
        champion_text = 'No Champion'

 

    fig.update_layout(
        title=f'NBA Win-Loss Percentage Over Time - {year}<br>{champion_text}',
        title_x=0.5  # Center the title
    )

 

    return fig

 

if __name__ == '__main__':
    app.run_server(debug=True)

C:\Users\2023\AppData\Local\Temp\ipykernel_17488\2162332154.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = NBA_final.groupby(['Year', 'Tm']).sum().reset_index()

In [19]:
import plotly.graph_objects as go
import pandas as pd
import dash
from dash import dcc, html
from dash.dependencies import Input, Output

 

# Reset index after groupby
df = NBA_final.groupby(['Year', 'Tm']).sum().reset_index()

 

# Create a Dash web application
app = dash.Dash(__name__)

 

# Define the unique years for the dropdown options
year_options = [{'label': str(year), 'value': year} for year in df['Year'].unique()]

 

# Define the app layout
app.layout = html.Div([
    html.Div([
        dcc.Graph(id='animated-map'),
    ], style={'width': '70%', 'display': 'inline-block'}),
    html.Div([
        html.Label('Select Year:'),
        dcc.Dropdown(
            id='year-dropdown',
            options=year_options,
            value=df['Year'].min(),
        ),
        html.Div(id='slider-output-container'),
    ], style={'width': '20%', 'display': 'inline-block'}),
])

 

@app.callback(
    Output('animated-map', 'figure'),
    Output('slider-output-container', 'children'),
    Input('year-dropdown', 'value')
)
def update_map(selected_year):
    # Create an animated scatter plot using Plotly graph_objects
    fig = go.Figure()

 

    hover_text = []
    for index, row in df[df['Year'] == selected_year].iterrows():
        champion_text = "Champion" if row['Champion'] == 1 else "Not Champion"
        text = f"Team: {row['Tm']}<br>Year: {selected_year}<br>W-L%: {row['W-L%']}<br>{champion_text}"
        hover_text.append(text)

 

    scatter = go.Scattergeo(
        lon=df[df['Year'] == selected_year]['Longitude'],
        lat=df[df['Year'] == selected_year]['Latitude'],
        text=hover_text,
        mode='markers',
        marker=dict(
            size=df[df['Year'] == selected_year]['W-L%'] * 50,
            color=df[df['Year'] == selected_year]['W-L%'],
            colorscale='Viridis',
            cmin=0.2,
            cmax=0.8,
            colorbar=dict(title='Win-Loss Percentage'),
        ),
        name=str(selected_year),
    )
    fig.add_trace(scatter)

 

    fig.update_geos(
        scope='usa',
        showcoastlines=True,
        coastlinecolor="RebeccaPurple",
        showland=True,
        landcolor="LightGreen",
        showsubunits=True,
        subunitcolor="gray",
    )

 

    champion_team = df[(df['Year'] == selected_year) & (df['Champion'] == 1)]['Tm'].values
    if champion_team:
        champion_text = f'Champion: {champion_team[0]}'
    else:
        champion_text = 'No Champion'

 

    fig.update_layout(
        title=f'NBA Win-Loss Percentage Over Time - {selected_year}<br>{champion_text}',
        title_x=0.5
    )

 

    return fig, f'Selected Year: {selected_year}'

 

if __name__ == '__main__':
    app.run_server(debug=True)

C:\Users\2023\AppData\Local\Temp\ipykernel_16752\3436097832.py:10: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File ~\anaconda3\lib\site-packages\dash\dash.py:1242, in Dash.dispatch(self=<dash.dash.Dash object>)
   1241 try:
-> 1242     cb = self.callback_map[output]
        output = 'animated-map.figure'
        self.callback_map = {'..animated-map.figure...slider-output-container.children..': {'inputs': [{'id': 'year-dropdown', 'property': 'value'}], 'state': [], 'outputs_indices': [0, 1], 'inputs_state_indices': 0, 'long': None, 'output': [<Output `animated-map.figure`>, <Output `slider-output-container.children`>], 'raw_inputs': [<Input `year-dropdown.value`>], 'manager': None, 'callback': <function update_map at 0x0000028762B35EA0>}}
        self = <dash.dash.Dash object at 0x0000028762A13220>
   1243     func = cb["callback"]

KeyError: 'animated-map.figure'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
File ~\anaconda3\lib\site-packages\flask\app.py:1823, in Flask.full_dispatch_request(self=<Flask '__main__'>)
   1821     rv = self.preprocess_request()
   1822     if rv is None:
-> 1823         rv = self.dispatch_request()
        rv = None
        self = <Flask '__main__'>
   1824 except Exception as e:
   1825     rv = self.handle_user_exception(e)

File ~\anaconda3\lib\site-packages\flask\app.py:1799, in Flask.dispatch_request(self=<Flask '__main__'>)
   1797 # otherwise dispatch to the handler for that endpoint
   1798 view_args: t.Dict[str, t.Any] = req.view_args  # type: ignore[assignment]
-> 1799 return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
        rule = <Rule '/_dash-update-component' (POST, OPTIONS) -> /_dash-update-component>
        view_args = {}
        self.view_functions[rule.endpoint] = <bound method Dash.dispatch of <dash.dash.Dash object at 0x0000028762A13220>>
        self = <Flask '__main__'>
        self.view_functions = {'static': <function Flask.__init__.<locals>.<lambda> at 0x0000028762A46F80>, '_dash_assets.static': <bound method Scaffold.send_static_file of <Blueprint '_dash_assets'>>, '/_dash-component-suites/<string:package_name>/<path:fingerprinted_path>': <bound method Dash.serve_component_suites of <dash.dash.Dash object at 0x0000028762A13220>>, '/_dash-layout': <bound method Dash.serve_layout of <dash.dash.Dash object at 0x0000028762A13220>>, '/_dash-dependencies': <bound method Dash.dependencies of <dash.dash.Dash object at 0x0000028762A13220>>, '/_dash-update-component': <bound method Dash.dispatch of <dash.dash.Dash object at 0x0000028762A13220>>, '/_reload-hash': <bound method Dash.serve_reload_hash of <dash.dash.Dash object at 0x0000028762A13220>>, '/_favicon.ico': <function Dash._serve_default_favicon at 0x00000287627A9240>, '/': <bound method Dash.index of <dash.dash.Dash object at 0x0000028762A13220>>, '/_alive_3d2dfd23-36a1-45a6-a9f2-2fc2db5457ec': <function JupyterDash.serve_alive at 0x00000287627A80D0>, '/<path:path>': <bound method Dash.index of <dash.dash.Dash object at 0x0000028762A13220>>}
        rule.endpoint = '/_dash-update-component'

File ~\anaconda3\lib\site-packages\dash\dash.py:1293, in Dash.dispatch(self=<dash.dash.Dash object>)
   1291 except KeyError as missing_callback_function:
   1292     msg = f"Callback function not found for output '{output}', perhaps you forgot to prepend the '@'?"
-> 1293     raise KeyError(msg) from missing_callback_function
        msg = "Callback function not found for output 'animated-map.figure', perhaps you forgot to prepend the '@'?"
   1294 ctx = copy_context()
   1295 # noinspection PyArgumentList

KeyError: "Callback function not found for output 'animated-map.figure', perhaps you forgot to prepend the '@'?"

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File ~\anaconda3\lib\site-packages\dash\dash.py:1242, in Dash.dispatch(self=<dash.dash.Dash object>)
   1241 try:
-> 1242     cb = self.callback_map[output]
        output = 'animated-map.figure'
        self.callback_map = {'..animated-map.figure...slider-output-container.children..': {'inputs': [{'id': 'year-dropdown', 'property': 'value'}], 'state': [], 'outputs_indices': [0, 1], 'inputs_state_indices': 0, 'long': None, 'output': [<Output `animated-map.figure`>, <Output `slider-output-container.children`>], 'raw_inputs': [<Input `year-dropdown.value`>], 'manager': None, 'callback': <function update_map at 0x0000028762B35EA0>}}
        self = <dash.dash.Dash object at 0x0000028762A13220>
   1243     func = cb["callback"]

KeyError: 'animated-map.figure'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
File ~\anaconda3\lib\site-packages\flask\app.py:1823, in Flask.full_dispatch_request(self=<Flask '__main__'>)
   1821     rv = self.preprocess_request()
   1822     if rv is None:
-> 1823         rv = self.dispatch_request()
        rv = None
        self = <Flask '__main__'>
   1824 except Exception as e:
   1825     rv = self.handle_user_exception(e)

File ~\anaconda3\lib\site-packages\flask\app.py:1799, in Flask.dispatch_request(self=<Flask '__main__'>)
   1797 # otherwise dispatch to the handler for that endpoint
   1798 view_args: t.Dict[str, t.Any] = req.view_args  # type: ignore[assignment]
-> 1799 return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
        rule = <Rule '/_dash-update-component' (POST, OPTIONS) -> /_dash-update-component>
        view_args = {}
        self.view_functions[rule.endpoint] = <bound method Dash.dispatch of <dash.dash.Dash object at 0x0000028762A13220>>
        self = <Flask '__main__'>
        self.view_functions = {'static': <function Flask.__init__.<locals>.<lambda> at 0x0000028762A46F80>, '_dash_assets.static': <bound method Scaffold.send_static_file of <Blueprint '_dash_assets'>>, '/_dash-component-suites/<string:package_name>/<path:fingerprinted_path>': <bound method Dash.serve_component_suites of <dash.dash.Dash object at 0x0000028762A13220>>, '/_dash-layout': <bound method Dash.serve_layout of <dash.dash.Dash object at 0x0000028762A13220>>, '/_dash-dependencies': <bound method Dash.dependencies of <dash.dash.Dash object at 0x0000028762A13220>>, '/_dash-update-component': <bound method Dash.dispatch of <dash.dash.Dash object at 0x0000028762A13220>>, '/_reload-hash': <bound method Dash.serve_reload_hash of <dash.dash.Dash object at 0x0000028762A13220>>, '/_favicon.ico': <function Dash._serve_default_favicon at 0x00000287627A9240>, '/': <bound method Dash.index of <dash.dash.Dash object at 0x0000028762A13220>>, '/_alive_3d2dfd23-36a1-45a6-a9f2-2fc2db5457ec': <function JupyterDash.serve_alive at 0x00000287627A80D0>, '/<path:path>': <bound method Dash.index of <dash.dash.Dash object at 0x0000028762A13220>>}
        rule.endpoint = '/_dash-update-component'

File ~\anaconda3\lib\site-packages\dash\dash.py:1293, in Dash.dispatch(self=<dash.dash.Dash object>)
   1291 except KeyError as missing_callback_function:
   1292     msg = f"Callback function not found for output '{output}', perhaps you forgot to prepend the '@'?"
-> 1293     raise KeyError(msg) from missing_callback_function
        msg = "Callback function not found for output 'animated-map.figure', perhaps you forgot to prepend the '@'?"
   1294 ctx = copy_context()
   1295 # noinspection PyArgumentList

KeyError: "Callback function not found for output 'animated-map.figure', perhaps you forgot to prepend the '@'?"

In [23]:
import plotly.graph_objects as go
import pandas as pd
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import time

# Reset index after groupby
df = NBA_final.groupby(['Year', 'Tm']).sum().reset_index()

# Create a Dash web application
app = dash.Dash(__name__)

# Define the app layout with a grid layout structure
app.layout = html.Div([
    # Dashboard Header
    html.Div([
        html.H1('NBA Win-Loss Dashboard'),
        html.P('Select a year to view win-loss percentages.'),
    ], className='dashboard-header'),

    # Animated Map Component
    html.Div([
        dcc.Graph(id='animated-map'),
        dcc.Interval(
            id='interval-component',
            interval=1000,  # Update interval in milliseconds
            n_intervals=0
        )
    ], className='map-component'),

    # Add more components here (e.g., charts, dropdowns, etc.)
    html.Div([
        # Add more components here
    ], className='additional-components'),

])

@app.callback(
    Output('animated-map', 'figure'),
    Input('interval-component', 'n_intervals')
)
def update_map(n_intervals):
    year_index = n_intervals % len(df['Year'].unique())
    year = df['Year'].unique()[year_index]

    # Create an animated scatter plot using Plotly graph_objects
    fig = go.Figure()

    hover_text = []
    for index, row in df[df['Year'] == year].iterrows():
        champion_text = "Champion" if row['Champion'] == 1 else "Not Champion"
        text = f"Team: {row['Tm']}<br>Year: {year}<br>W-L%: {row['W-L%']}<br>{champion_text}"
        hover_text.append(text)

    scatter = go.Scattergeo(
        lon=df[df['Year'] == year]['Longitude'],
        lat=df[df['Year'] == year]['Latitude'],
        text=hover_text,
        mode='markers',
        marker=dict(
            size=df[df['Year'] == year]['W-L%'] * 50,
            color=df[df['Year'] == year]['W-L%'],
            colorscale='Viridis',
            cmin=0.2,
            cmax=0.8,
            colorbar=dict(title='Win-Loss Percentage'),
        ),
        name=str(year),
    )
    fig.add_trace(scatter)

    fig.update_geos(
        scope='usa',
        showcoastlines=True,
        coastlinecolor="RebeccaPurple",
        showland=True,
        landcolor="LightGreen",
        showsubunits=True,
        subunitcolor="gray",
    )

    champion_team = df[(df['Year'] == year) & (df['Champion'] == 1)]['Tm'].values
    if champion_team:
        champion_text = f'Champion: {champion_team[0]}'
    else:
        champion_text = 'No Champion'

    fig.update_layout(
        title=f'NBA Win-Loss Percentage Over Time - {year}<br>{champion_text}',
        title_x=0.5
    )

    return fig

if __name__ == '__main__':
    # Export the Dash app as an HTML file
    with open('dashboard.html', 'w') as f:
        f.write(app.index())

C:\Users\2023\AppData\Local\Temp\ipykernel_16752\2055470475.py:9: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.