In [1]:
# Here is the standard import convention for pandas
import pandas as pd
import numpy as np

#The standard matplotlib import, which will enable us to build plots directly from pandas
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
nfl_df = pd.DataFrame(columns = ('Tm', 'W-L%', 'Year'))
nfl_df

Empty DataFrame
Columns: [Tm, W-L%, Year]
Index: []

In [3]:
files_afc = ['NFL_1920.csv', 'NFL_1921.csv', 'NFL_1922.csv', 'NFL_1923.csv', 'NFL_1924.csv', 
         'NFL_1925.csv', 'NFL_1926.csv', 'NFL_1927.csv', 'NFL_1928.csv', 'NFL_1929.csv',
         'NFL_1930.csv', 'NFL_1931.csv', 'NFL_1932.csv', 'NFL_1933.csv', 'NFL_1934.csv', 
         'NFL_1935.csv', 'NFL_1936.csv', 'NFL_1937.csv', 'NFL_1938.csv', 'NFL_1939.csv',
         'NFL_1940.csv', 'NFL_1941.csv', 'NFL_1942.csv', 'NFL_1943.csv', 'NFL_1944.csv', 
         'NFL_1945.csv', 'NFL_1946.csv', 'NFL_1947.csv', 'NFL_1948.csv', 'NFL_1949.csv',
         'NFL_1950.csv', 'NFL_1951.csv', 'NFL_1952.csv', 'NFL_1953.csv', 'NFL_1954.csv', 
         'NFL_1955.csv', 'NFL_1956.csv', 'NFL_1957.csv', 'NFL_1958.csv', 'NFL_1959.csv', 
         'NFL_1960.csv', 'NFL_1961.csv', 'NFL_1962.csv', 'NFL_1963.csv', 'NFL_1964.csv', 
         'NFL_1965.csv', 'NFL_1966.csv', 'NFL_1967.csv', 'NFL_1968.csv', 'NFL_1969.csv', 
         'NFL_1970.csv', 'NFL_1971.csv', 'NFL_1972.csv', 'NFL_1973.csv', 'NFL_1974.csv', 
         'NFL_1975.csv', 'NFL_1976.csv', 'NFL_1977.csv', 'NFL_1978.csv', 'NFL_1979.csv', 
         'NFL_1980.csv', 'NFL_1981.csv', 'NFL_1982.csv', 'NFL_1983.csv', 'NFL_1984.csv', 
         'NFL_1985.csv', 'NFL_1986.csv', 'NFL_1987.csv', 'NFL_1988.csv', 'NFL_1989.csv', 
         'NFL_1990.csv', 'NFL_1991.csv', 'NFL_1992.csv', 'NFL_1993.csv', 'NFL_1994.csv', 
         'NFL_1995.csv', 'NFL_1996.csv', 'NFL_1997.csv', 'NFL_1998.csv', 'NFL_1999.csv', 
         'NFL_2000.csv', 'NFL_2001.csv', 'NFL_2002.csv', 'NFL_2003.csv', 'NFL_2004.csv', 
         'NFL_2005.csv', 'NFL_2006.csv', 'NFL_2007.csv', 'NFL_2008.csv', 'NFL_2009.csv', 
         'NFL_2010.csv', 'NFL_2011.csv', 'NFL_2012.csv', 'NFL_2013.csv', 'NFL_2014.csv', 
         'NFL_2015.csv', 'NFL_2016.csv', 'NFL_2017.csv', 'NFL_2018.csv', 'NFL_2019.csv', 
         'NFL_2020.csv', 'NFL_2021.csv', 'NFL_2022.csv']

for i in range(len(files_afc)):
    df = pd.read_csv(files_afc[i])
    df = df[['Tm', 'W-L%']]
    df['Year'] = 1920 + i
    nfl_df = pd.concat([nfl_df, df], ignore_index=True)

# nfl_df.tail(20)

In [4]:
files_nfc = ['NFL_1960_1.csv', 'NFL_1961_1.csv', 'NFL_1962_1.csv', 'NFL_1963_1.csv', 'NFL_1964_1.csv', 
         'NFL_1965_1.csv', 'NFL_1966_1.csv', 'NFL_1967_1.csv', 'NFL_1968_1.csv', 'NFL_1969_1.csv', 
         'NFL_1970_1.csv', 'NFL_1971_1.csv', 'NFL_1972_1.csv', 'NFL_1973_1.csv', 'NFL_1974_1.csv', 
         'NFL_1975_1.csv', 'NFL_1976_1.csv', 'NFL_1977_1.csv', 'NFL_1978_1.csv', 'NFL_1979_1.csv', 
         'NFL_1980_1.csv', 'NFL_1981_1.csv', 'NFL_1982_1.csv', 'NFL_1983_1.csv', 'NFL_1984_1.csv', 
         'NFL_1985_1.csv', 'NFL_1986_1.csv', 'NFL_1987_1.csv', 'NFL_1988_1.csv', 'NFL_1989_1.csv', 
         'NFL_1990_1.csv', 'NFL_1991_1.csv', 'NFL_1992_1.csv', 'NFL_1993_1.csv', 'NFL_1994_1.csv', 
         'NFL_1995_1.csv', 'NFL_1996_1.csv', 'NFL_1997_1.csv', 'NFL_1998_1.csv', 'NFL_1999_1.csv', 
         'NFL_2000_1.csv', 'NFL_2001_1.csv', 'NFL_2002_1.csv', 'NFL_2003_1.csv', 'NFL_2004_1.csv', 
         'NFL_2005_1.csv', 'NFL_2006_1.csv', 'NFL_2007_1.csv', 'NFL_2008_1.csv', 'NFL_2009_1.csv', 
         'NFL_2010_1.csv', 'NFL_2011_1.csv', 'NFL_2012_1.csv', 'NFL_2013_1.csv', 'NFL_2014_1.csv', 
         'NFL_2015_1.csv', 'NFL_2016_1.csv', 'NFL_2017_1.csv', 'NFL_2018_1.csv', 'NFL_2019_1.csv', 
         'NFL_2020_1.csv', 'NFL_2021_1.csv', 'NFL_2022_1.csv']


for i in range(len(files_nfc)):
    df = pd.read_csv(files_nfc[i])
    df = df[['Tm', 'W-L%']]
    df['Year'] = 1960 + i
    nfl_df = pd.concat([nfl_df, df], ignore_index=True)
    
# nfl_df.tail(20)

In [5]:
#sort by year and winning percentage to reintegrate AFC and NFC
nfl_sorted = nfl_df.sort_values(['Year', 'W-L%'], ascending = [True, False], ignore_index = True)
# nfl_sorted.tail(32)

In [6]:
#strip unwanted division and conference winners
nfl_sorted['Tm'] = nfl_sorted['Tm'].map(lambda x: x.rstrip('*+'))
# nfl_sorted.tail(50)

In [7]:
locs_dict = {
    'Arizona':["33.4484° N", "112.0740° W", "Phoenix", "Arizona"],
    'Chicago':['41.8781° N', "87.6298° W", "Chicago", "Illinois"],
    'Jacksonville':["30.3322° N", "81.6557° W", "Jacksonville", "Florida"],
    'St. Louis':["38.6270° N", "90.1994° W", "St. Louis", "Missouri"],
    'Phoenix':["33.4484° N", "112.0740° W", "Phoenix", "Arizona"],
    'Indianapolis':["39.7684° N", "86.1581° W", "Indianapolis", "Indiana"],
    'Los Angeles':["34.0549° N", "118.2426° W", "Los Angeles", "California"],
    'Philadelphia':["39.9526° N", "75.1652° W", "Philadelphia", "Pennsylvania"],
    'New Orleans':["29.9511° N", "90.0715° W", "New Orleans", "Louisiana"],
    'Cleveland':["41.4993° N", "81.6944° W", "Cleveland", "Ohio"],
    'Baltimore':["39.2904° N", "76.6122° W", "Baltimore", "Maryland"],
    'Minnesota':["44.9778° N", "93.2650° W", "Minneapolis", "Minnesota"],
    'Denver':["39.7392° N", "104.9903° W", "Denver", "Colorado"],
    'Washington':["38.9072° N", "77.0369° W", "Washington D.C.", "Washington D.C."],
    'Atlanta':["33.7488° N", "84.3877° W", "Atlanta", "Georgia"],
    'Seattle':["47.6062° N", "122.3321° W", "Seattle", "Washington"],
    'Carolina':["35.2271° N", "80.8431° W", "Charlotte", "North Carolina"],
    'New York':["40.7128° N", "74.0060° W", "New York City", "New York"],
    'Houston':["29.7604° N", "95.3698° W", "Houston", "Texas"],
    'Detroit':["42.3314° N", "83.0458° W", "Detroit", "Michigan"],
    'Kansas City':["39.0997° N", "94.5786° W", "Kansas City", "Kansas"],
    'Buffalo':["42.8864° N", "78.8784° W", "Buffalo", "New York"],
    'San Francisco':["37.7749° N", "122.4194° W", "San Francisco", "California"],
    'Cincinnati':["39.1031° N", "84.5120° W", "Cincinnati", "Ohio"],
    'Miami':["25.7617° N", "80.1918° W", "Miami", "Florida"],
    'Dallas':["32.7767° N", "96.7970° W", "Dallas", "Texas"],
    'Las Vegas':["36.1716° N", "115.1391° W", "Las Vegas", "Nevada"],
    'New England':["42.3601° N", "71.0589° W", "Boston", "Massachusetts"],
    'Pittsburgh':["40.4406° N", "79.9959° W", "Pittsburgh", "Pennsylvania"],
    'Green Bay':["44.5133° N", "88.0133° W", "Green Bay", "Wisconsin"],
    'Tampa Bay':["27.7634° N", "82.5437° W", "Tampa Bay", "Florida"],
    'Tennessee':["36.1627° N", "86.7816° W", "Nashville", "Tennessee"],
    'Akron':["41.0814° N", "81.5190° W", "Akron", "Ohio"],
    'Decatur':['41.8781° N', "87.6298° W", "Decatur", "Illinois"],
    'Rock Island':["41.5095° N", "90.5787° W", "Rock Island", "Illinois"],
    'Dayton':["39.7589° N", "84.1916° W", "Dayton", "Ohio"],
    'Rochester':["43.1566° N", "77.6088° W", "Rochester", "New York"],
    'Canton':["40.7989° N", "81.3784° W", "Canton", "Ohio"],
    'Hammond':["41.5834° N", "87.5000° W", "Hammond", "Indiana"],
    'Columbus':["39.9612° N", "82.9988° W", "Columbus", "Ohio"],
    'Muncie':["40.1934° N", "85.3864° W", "Muncie", "Indiana"],
    'Evansville':["37.9716° N", "87.5711° W", "Evansville", "Indiana"],
    'Louisville':["38.2527° N", "85.7585° W", "Louisville", "Kentucky"],
    'Minneapolis':["44.9778° N", "93.2650° W", "Minneapolis", "Minnesota"],
    'Tonawanda':["42.8864° N", "78.8784° W", "Buffalo", "New York"],
    'Toledo':["41.6528° N", "83.5379° W", "Toledo", "Ohio"],
    'Racine':["42.7261° N", "87.7829° W", "Racine", "Wisconsin"],
    'Milwaukee':["43.0389° N", "87.9065° W", "Milwaukee", "Wisconsin"],
    'Oorang':["40.5764° N", "83.3846° W", "LaRue", "Ohio"],
    'Duluth':["46.7867° N", "92.1005° W", "Duluth", "Minnesota"],
    'Frankford':["39.9526° N", "75.1652° W", "Philadelphia", "Pennsylvania"],
    'Kenosha':["43.0389° N", "87.9065° W", "Milwaukee", "Wisconsin"],
    'Pottsville':["40.6856° N", "76.1955° W", "Pottsville", "Pennsylvania"],
    'Providence':["41.8240° N", "71.4128° W", "Providence", "Rhode Island"],
    'Oakland':["37.8044° N", "122.2712° W", "Oakland", "California"],
    'San Diego':["32.7157° N", "117.1611° W", "San Diego", "California"],
    'Hartford':["41.7658° N", "72.6734° W", "Hartford", "Connecticut"],
    'Brooklyn':["40.6782° N", "73.9442° W", "Brooklyn", "New York"],
    'Boston':["42.3601° N", "71.0589° W", "Boston", "Massachusetts"],
    'Staten':["40.5795° N", "74.1502° W", "Staten Island", "New York"],
    'Orange':["40.7706° N", "74.2326° W", "Newark", "New Jersey"],
    'Portsmouth':["38.7317° N", "82.9977° W", "Portsmouth", "Ohio"],
    'Newark':["40.7706° N", "74.2326° W", "Newark", "New Jersey"],
    #1943 steagles take Pitt as hometown
    'Phi/Pit Eagles/Steelers':["40.4406° N", "79.9959° W", "Pittsburgh", "Pennsylvania"],
    #1944 pitcars  take Pitt as hometown
    'Chi/Pit Cards/Steelers':["40.4406° N", "79.9959° W", "Pittsburgh", "Pennsylvania"],
    #1945 Yanks played home games in Boston
    'Bos/Bkn Yanks/Tigers':["42.3601° N", "71.0589° W", "Boston", "Massachusetts"]   
}
for team, coords in locs_dict.items():
    match = nfl_sorted['Tm'].str.contains(pat = team, case=False)
    nfl_sorted.loc[match, 'Latitude'] = coords[0]
    nfl_sorted.loc[match, 'Longitude'] = coords[1]
    nfl_sorted.loc[match, 'City'] = coords[2]
    nfl_sorted.loc[match, 'States'] = coords[3]
    
#nfl_sorted[nfl_sorted["Latitude"].isna()]
nfl_sorted

,Tm,W-L%,Year,Latitude,Longitude,City,States
0,Akron Pros,1.000,1920,41.0814° N,81.5190° W,Akron,Ohio
1,Decatur Staleys,0.909,1920,41.8781° N,87.6298° W,Decatur,Illinois
2,Buffalo All-Americans,0.900,1920,42.8864° N,78.8784° W,Buffalo,New York
3,Chicago Cardinals,0.750,1920,41.8781° N,87.6298° W,Chicago,Illinois
4,Rock Island Independents,0.750,1920,41.5095° N,90.5787° W,Rock Island,Illinois
...,...,...,...,...,...,...,...
2284,Los Angeles Rams,0.294,2022,34.0549° N,118.2426° W,Los Angeles,California
2285,Indianapolis Colts,0.265,2022,39.7684° N,86.1581° W,Indianapolis,Indiana
2286,Arizona Cardinals,0.235,2022,33.4484° N,112.0740° W,Phoenix,Arizona
2287,Houston Texans,0.206,2022,29.7604° N,95.3698° W,Houston,Texas
2288,Chicago Bears,0.176,2022,41.8781° N,87.6298° W,Chicago,Illinois

In [8]:
nfl_sorted['Champion'] = 0
nfl_sorted

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion
0,Akron Pros,1.000,1920,41.0814° N,81.5190° W,Akron,Ohio,0
1,Decatur Staleys,0.909,1920,41.8781° N,87.6298° W,Decatur,Illinois,0
2,Buffalo All-Americans,0.900,1920,42.8864° N,78.8784° W,Buffalo,New York,0
3,Chicago Cardinals,0.750,1920,41.8781° N,87.6298° W,Chicago,Illinois,0
4,Rock Island Independents,0.750,1920,41.5095° N,90.5787° W,Rock Island,Illinois,0
...,...,...,...,...,...,...,...,...
2284,Los Angeles Rams,0.294,2022,34.0549° N,118.2426° W,Los Angeles,California,0
2285,Indianapolis Colts,0.265,2022,39.7684° N,86.1581° W,Indianapolis,Indiana,0
2286,Arizona Cardinals,0.235,2022,33.4484° N,112.0740° W,Phoenix,Arizona,0
2287,Houston Texans,0.206,2022,29.7604° N,95.3698° W,Houston,Texas,0
2288,Chicago Bears,0.176,2022,41.8781° N,87.6298° W,Chicago,Illinois,0

In [9]:
champs_dict = {
    1920:'Akron Pros',
    1921:'Chicago Staleys',
    1922:'Canton Bulldogs',
    1923:'Canton Bulldogs',
    1924:'Cleveland Bulldogs',
    1925:'Chicago Cardinals',
    1926:'Frankford Yellow Jackets',
    1927:'New York Giants',
    1928:'Providence Steam Roller',
    1929:'Green Bay Packers',
    1930:'Green Bay Packers',
    1931:'Green Bay Packers',
    1932:'Chicago Bears',
    1933:'Chicago Bears',
    1934:'New York Giants',
    1935:'Detroit Lions',
    1936:'Green Bay Packers',
    1937:'Washington Redskins',
    1938:'New York Giants',
    1939:'Green Bay Packers',
    1940:'Chicago Bears',
    1941:'Chicago Bears',
    1942:'Washington Redskins',
    1943:'Chicago Bears',
    1944:'Green Bay Packers',
    1945:'Cleveland Rams',
    1946:'Chicago Bears',
    1947:'Chicago Cardinals',
    1948:'Philadelphia Eagles',
    1949:'Philadelphia Eagles',
    1950:'Cleveland Browns',
    1951:'Los Angeles Rams',
    1952:'Detroit Lions',
    1953:'Detroit Lions',
    1954:'Cleveland Browns',
    1955:'Cleveland Browns',
    1956:'New York Giants',
    1957:'Detroit Lions',
    1958:'Baltimore Colts',
    1959:'Baltimore Colts',
    1960:'Philadephia Eagles',
    1961:'Green Bay Packers',
    1962:'Green Bay Packers',
    1963:'Chicago Bears',
    1964:'Cleveland Browns',
    1965:'Green Bay Packers',
    1966:'Green Bay Packers',
    1967:'Green Bay Packers',
    1968:'New York Jets',
    1969:'Kansas City Chiefs',
    1970:'Baltimore Colts',
    1971:'Dallas Cowboys',
    1972:'Miami Dolphins',
    1973:'Miami Dolphins',
    1974:'Pittsburgh Steelers',
    1975:'Pittsburgh Steelers',
    1976:'Oakland Raiders',
    1977:'Dallas Cowboys',
    1978:'Pittsburgh Steelers',
    1979:'Pittsburgh Steelers',
    1980:'Oakland Raiders',
    1981:'San Francisco 49ers',
    1982:'Washington Redskins',
    1983:'Los Angeles Raiders',
    1984:'San Francisco 49ers',
    1985:'Chicago Bears',
    1986:'New York Giants',
    1987:'Washington Redskins',
    1988:'San Francisco 49ers',
    1989:'San Francisco 49ers',
    1990:'New York Giants',
    1991:'Washington Redskins',
    1992:'Dallas Cowboys',
    1993:'Dallas Cowboys',
    1994:'San Francisco 49ers',
    1995:'Dallas Cowboys',
    1996:'Green Bay Packers',
    1997:'Denver Broncos',
    1998:'Denver Broncos',
    1999:'St. Louis Rams',
    2000:'Baltimore Ravens',
    2001:'New England Patriots',
    2002:'Tampa Bay Buccaneers',
    2003:'New England Patriots',
    2004:'New England Patriots',
    2005:'Pittsburgh Steelers',
    2006:'Indianapolis Colts',
    2007:'New York Giants',
    2008:'Pittsburgh Steelers',
    2009:'New Orleans Saints',
    2010:'Green Bay Packers',
    2011:'New York Giants',
    2012:'Baltimore Ravens',
    2013:'Seattle Seahawks',
    2014:'New England Patriots',
    2015:'Denver Broncos',
    2016:'New England Patriots',
    2017:'Philadelphia Eagles',
    2018:'New England Patriots',
    2019:'Kansas City Chiefs',
    2020:'Tampa Bay Buccaneers',
    2021:'Los Angeles Rams',
    2022:'Kansas City Chiefs'    
}

for i, j in champs_dict.items():
    nfl_sorted.loc[(nfl_sorted['Year'] == i) & (nfl_sorted['Tm'] == j), 'Champion'] = 1
    
#test
# nfl_sorted[nfl_sorted['Year'] == 2022]
# nfl_sorted[(nfl_sorted['Champion'] == 1)]
nfl_sorted

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion
0,Akron Pros,1.000,1920,41.0814° N,81.5190° W,Akron,Ohio,1
1,Decatur Staleys,0.909,1920,41.8781° N,87.6298° W,Decatur,Illinois,0
2,Buffalo All-Americans,0.900,1920,42.8864° N,78.8784° W,Buffalo,New York,0
3,Chicago Cardinals,0.750,1920,41.8781° N,87.6298° W,Chicago,Illinois,0
4,Rock Island Independents,0.750,1920,41.5095° N,90.5787° W,Rock Island,Illinois,0
...,...,...,...,...,...,...,...,...
2284,Los Angeles Rams,0.294,2022,34.0549° N,118.2426° W,Los Angeles,California,0
2285,Indianapolis Colts,0.265,2022,39.7684° N,86.1581° W,Indianapolis,Indiana,0
2286,Arizona Cardinals,0.235,2022,33.4484° N,112.0740° W,Phoenix,Arizona,0
2287,Houston Texans,0.206,2022,29.7604° N,95.3698° W,Houston,Texas,0
2288,Chicago Bears,0.176,2022,41.8781° N,87.6298° W,Chicago,Illinois,0

In [10]:
nfl_sorted.to_excel('NFL_Master_Sheet.xlsx', index=False)