In [1]:
# Here is the standard import convention for pandas
import pandas as pd
import numpy as np

#The standard matplotlib import, which will enable us to build plots directly from pandas
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
mls_df = pd.read_excel('MLS_Master_Sheet.xlsx')
mls_df
# mls_df

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion,League
0,Tampa Bay Mutiny,0.594,1996,27.7634° N,82.5437° W,Tampa Bay,Florida,0,MLS
1,D.C. United,0.469,1996,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
2,NY/NJ MetroStars,0.375,1996,40.7465° N,74.1563° W,Harrison,New Jersey,0,MLS
3,Columbus Crew,0.344,1996,39.9612° N,82.9988° W,Columbus,Ohio,0,MLS
4,New England Revolution,0.281,1996,42.3601° N,71.0589° W,Boston,Massachusetts,0,MLS
...,...,...,...,...,...,...,...,...,...
440,San Jose Earthquakes,0.235,2022,37.3387° N,121.8853° W,San Jose,California,0,MLS
441,Seattle Sounders,0.353,2022,47.6062° N,122.3321° W,Seattle,Washington,0,MLS
442,Sporting Kansas City,0.324,2022,39.0997° N,94.5786° W,Kansas City,Kansas,0,MLS
443,Toronto,0.265,2022,43.6532° N,79.3832° W,Toronto,Canada,0,MLS
444,Vancouver Whitecaps,0.353,2022,49.2827° N,123.1207° W,Vancouver,Canada,0,MLS

In [3]:
locs_dict = {
    'Atlanta':["33.7488° N", "84.3877° W", "Atlanta", "Georgia"],
    'Austin':["30.2672° N", "97.7431° W", "Austin", "Texas"],
    'Montreal':["45.5019° N", "73.5674° W", "Montreal", "Canada"],
    'Charlotte':["35.2271° N", "80.8431° W", "Charlotte", "North Carolina"],
    'Chicago':['41.8781° N', "87.6298° W", "Chicago", "Illinois"],
    'Colorado':["39.7392° N", "104.9903° W", "Denver", "Colorado"],
    'Columbus':["39.9612° N", "82.9988° W", "Columbus", "Ohio"],
    'D.C.':["38.9072° N", "77.0369° W", "Washington D.C.", "Washington D.C."],
    'Cincinnati':["39.1031° N", "84.5120° W", "Cincinnati", "Ohio"],
    'Dallas':["32.7767° N", "96.7970° W", "Dallas", "Texas"],
    'Houston':["29.7604° N", "95.3698° W", "Houston", "Texas"],
    'Miami':["25.7617° N", "80.1918° W", "Miami", "Florida"],
    'LA':["34.0549° N", "118.2426° W", "Los Angeles", "California"],
    'Minnesota':["44.9537° N", "93.0900° W", "St. Paul", "Minnesota"],
    'Nashville':["36.1627° N", "86.7816° W", "Nashville", "Tennessee"],
    'New England':["42.3601° N", "71.0589° W", "Boston", "Massachusetts"],
    'New York City':["40.7128° N", "74.0060° W", "New York City", "New York"],
    'Red Bull':["40.7465° N", "74.1563° W", "Harrison", "New Jersey"],
    'Orlando':["28.5384° N", "81.3789° W", "Orlando", "Florida"],
    'Philadelphia':["39.9526° N", "75.1652° W", "Philadelphia", "Pennsylvania"],
    'Portland':["45.5152° N", "122.6784° W", "Portland", "Oregon"],
    'Salt Lake':["40.7608° N", "111.8910° W", "Salt Lake City", "Utah"],
    'San Jose':["37.3387° N", "121.8853° W", "San Jose", "California"],
    'Seattle':["47.6062° N", "122.3321° W", "Seattle", "Washington"],
    'Kansas City':["39.0997° N", "94.5786° W", "Kansas City", "Kansas"],
    'St. Louis': ["38.6270° N", "90.1994° W", "St. Louis", "Missouri"],
    'Toronto':["43.6532° N", "79.3832° W", "Toronto", "Canada"],
    'Vancouver':["49.2827° N", "123.1207° W", "Vancouver", "Canada"],
    'MetroStars':["40.7465° N", "74.1563° W", "Harrison", "New Jersey"],
    'Tampa Bay':["27.7634° N", "82.5437° W", "Tampa Bay", "Florida"],
    'Los Angeles':["34.0549° N", "118.2426° W", "Los Angeles", "California"],
    'Chivas':["34.0549° N", "118.2426° W", "Los Angeles", "California"],
    'Montréal':["45.5019° N", "73.5674° W", "Montreal", "Canada"],
    
}



for team, coords in locs_dict.items():
    match = mls_df['Tm'].str.contains(pat = team, case=True)
    mls_df.loc[match, 'Latitude'] = coords[0]
    mls_df.loc[match, 'Longitude'] = coords[1]
    mls_df.loc[match, 'City'] = coords[2]
    mls_df.loc[match, 'States'] = coords[3]
    
# mls_df[mls_df["Latitude"].isna()]
mls_df.head(10)

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion,League
0,Tampa Bay Mutiny,0.594,1996,27.7634° N,82.5437° W,Tampa Bay,Florida,0,MLS
1,D.C. United,0.469,1996,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
2,NY/NJ MetroStars,0.375,1996,40.7465° N,74.1563° W,Harrison,New Jersey,0,MLS
3,Columbus Crew,0.344,1996,39.9612° N,82.9988° W,Columbus,Ohio,0,MLS
4,New England Revolution,0.281,1996,42.3601° N,71.0589° W,Boston,Massachusetts,0,MLS
5,Los Angeles Galaxy,0.469,1996,34.0549° N,118.2426° W,Los Angeles,California,0,MLS
6,Dallas Burn,0.375,1996,32.7767° N,96.7970° W,Dallas,Texas,0,MLS
7,Kansas City Wiz,0.375,1996,39.0997° N,94.5786° W,Kansas City,Kansas,0,MLS
8,San Jose Clash,0.375,1996,37.3387° N,121.8853° W,San Jose,California,0,MLS
9,Colorado Rapids,0.281,1996,39.7392° N,104.9903° W,Denver,Colorado,0,MLS

In [4]:
mls_df['Champion'] = 0
# mls_df
champs_dict = {
    1996:'D.C. United',
    1997:'D.C. United',
    1998:'Chicago Fire',
    1999:'D.C. United',
    2000:'Kansas City Wizards',
    2001:'San Jose Earthquakes',
    2002:'Los Angeles Galaxy',
    2003:'San Jose Earthquakes',
    2004:'D.C. United',
    2005:'Los Angeles Galaxy',
    2006:'Houston Dynamo',
    2007:'Houston Dynamo',
    2008:'Columbus Crew',
    2009:'Real Salt Lake',
    2010:'Colorado Rapids',
    2011:'LA Galaxy',
    2012:'LA Galaxy',
    2013:'Sporting Kansas City',
    2014:'LA Galaxy',
    2015:'Portland Timbers',
    2016:'Seattle Sounders',
    2017:'Toronto',
    2018:'Atlanta United',
    2019:'Seattle Sounders',
    2020:'Columbus Crew',
    2021:'New York City',
    2022:'Los Angeles'    
}

for i, j in champs_dict.items():
    mls_df.loc[(mls_df['Year'] == i) & (mls_df['Tm'] == j), 'Champion'] = 1
    
#test
mls_df

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion,League
0,Tampa Bay Mutiny,0.594,1996,27.7634° N,82.5437° W,Tampa Bay,Florida,0,MLS
1,D.C. United,0.469,1996,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
2,NY/NJ MetroStars,0.375,1996,40.7465° N,74.1563° W,Harrison,New Jersey,0,MLS
3,Columbus Crew,0.344,1996,39.9612° N,82.9988° W,Columbus,Ohio,0,MLS
4,New England Revolution,0.281,1996,42.3601° N,71.0589° W,Boston,Massachusetts,0,MLS
...,...,...,...,...,...,...,...,...,...
440,San Jose Earthquakes,0.235,2022,37.3387° N,121.8853° W,San Jose,California,0,MLS
441,Seattle Sounders,0.353,2022,47.6062° N,122.3321° W,Seattle,Washington,0,MLS
442,Sporting Kansas City,0.324,2022,39.0997° N,94.5786° W,Kansas City,Kansas,0,MLS
443,Toronto,0.265,2022,43.6532° N,79.3832° W,Toronto,Canada,0,MLS
444,Vancouver Whitecaps,0.353,2022,49.2827° N,123.1207° W,Vancouver,Canada,0,MLS

In [5]:
# mls_df[mls_df['Year'] == 2018]
mls_df[(mls_df['Champion'] == 1)]

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion,League
1,D.C. United,0.469,1996,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
10,D.C. United,0.531,1997,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
27,Chicago Fire,0.625,1998,41.8781° N,87.6298° W,Chicago,Illinois,1,MLS
32,D.C. United,0.719,1999,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
52,Kansas City Wizards,0.500,2000,39.0997° N,94.5786° W,Kansas City,Kansas,1,MLS
65,San Jose Earthquakes,0.500,2001,37.3387° N,121.8853° W,San Jose,California,1,MLS
73,Los Angeles Galaxy,0.571,2002,34.0549° N,118.2426° W,Los Angeles,California,1,MLS
83,San Jose Earthquakes,0.467,2003,37.3387° N,121.8853° W,San Jose,California,1,MLS
89,D.C. United,0.367,2004,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
107,Los Angeles Galaxy,0.406,2005,34.0549° N,118.2426° W,Los Angeles,California,1,MLS
117,Houston Dynamo,0.344,2006,29.7604° N,95.3698° W,Houston,Texas,1,MLS
130,Houston Dynamo,0.500,2007,29.7604° N,95.3698° W,Houston,Texas,1,MLS
135,Columbus Crew,0.567,2008,39.9612° N,82.9988° W,Columbus,Ohio,1,MLS
160,Real Salt Lake,0.367,2009,40.7608° N,111.8910° W,Salt Lake City,Utah,1,MLS
176,Colorado Rapids,0.400,2010,39.7392° N,104.9903° W,Denver,Colorado,1,MLS
180,LA Galaxy,0.559,2011,34.0549° N,118.2426° W,Los Angeles,California,1,MLS
211,LA Galaxy,0.471,2012,34.0549° N,118.2426° W,Los Angeles,California,1,MLS
218,Sporting Kansas City,0.500,2013,39.0997° N,94.5786° W,Kansas City,Kansas,1,MLS
247,LA Galaxy,0.500,2014,34.0549° N,118.2426° W,Los Angeles,California,1,MLS
267,Portland Timbers,0.441,2015,45.5152° N,122.6784° W,Portland,Oregon,1,MLS
288,Seattle Sounders,0.412,2016,47.6062° N,122.3321° W,Seattle,Washington,1,MLS
295,Toronto,0.588,2017,43.6532° N,79.3832° W,Toronto,Canada,1,MLS
318,Atlanta United,0.618,2018,33.7488° N,84.3877° W,Atlanta,Georgia,1,MLS
353,Seattle Sounders,0.471,2019,47.6062° N,122.3321° W,Seattle,Washington,1,MLS
366,Columbus Crew,0.522,2020,39.9612° N,82.9988° W,Columbus,Ohio,1,MLS
393,New York City,0.429,2021,40.7128° N,74.0060° W,New York City,New York,1,MLS
428,Los Angeles,0.618,2022,34.0549° N,118.2426° W,Los Angeles,California,1,MLS

In [6]:
mls_sorted = mls_df.sort_values(['Year', 'W-L%'], ascending = [True, False], ignore_index = True)
mls_sorted

,Tm,W-L%,Year,Latitude,Longitude,City,States,Champion,League
0,Tampa Bay Mutiny,0.594,1996,27.7634° N,82.5437° W,Tampa Bay,Florida,0,MLS
1,D.C. United,0.469,1996,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,1,MLS
2,Los Angeles Galaxy,0.469,1996,34.0549° N,118.2426° W,Los Angeles,California,0,MLS
3,NY/NJ MetroStars,0.375,1996,40.7465° N,74.1563° W,Harrison,New Jersey,0,MLS
4,Dallas Burn,0.375,1996,32.7767° N,96.7970° W,Dallas,Texas,0,MLS
...,...,...,...,...,...,...,...,...,...
440,Houston Dynamo,0.294,2022,29.7604° N,95.3698° W,Houston,Texas,0,MLS
441,New England Revolution,0.294,2022,42.3601° N,71.0589° W,Boston,Massachusetts,0,MLS
442,Toronto,0.265,2022,43.6532° N,79.3832° W,Toronto,Canada,0,MLS
443,San Jose Earthquakes,0.235,2022,37.3387° N,121.8853° W,San Jose,California,0,MLS
444,D.C. United,0.206,2022,38.9072° N,77.0369° W,Washington D.C.,Washington D.C.,0,MLS

In [8]:
mls_df.to_excel('MLS_Master_Sheet.xlsx', index=False)